/* NON-GRID FALLBACK CODE */

@media (grid: 0) {
  /* MOBILE */

  @media (min-width: 8px) {
    /* BROWSER */

    body,
    html {
      margin: 0;
      padding: 0;
    }

    .outer {
      pointer-events: none;
    }

    .grid-container {
      background-color: aliceblue;
      height: 925px;
      width: 600px;
      display: grid;
      grid-template: 700px 200px 25px / 100px 400px 100px;
      gap: 50px;
      grid-template-areas:
        "LT header RT"
        "LM content RM"
        "LB footer RB";
      z-index: 1;
    }

    .background {
      position: absolute;
      z-index: -1;
    }

    .LT {
      border: 1px solid red;
      grid-area: LT;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header {
      border: 1px solid red;
      grid-area: header;
      grid-template: 0.1fr 1fr 0.3fr / 1fr;
      display: grid;
    }

    .header-top {
      border: 1px solid red;
    }

    .header-mid {
      border: 1px solid red;
    }

    .header-bottom {
      border: 1px solid red;
    }

    .RT {
      border: 1px solid red;
      grid-area: RT;
    }

    .LM {
      border: 1px solid red;
      grid-area: LM;
    }

    .content {
      border: 1px solid red;
      grid-area: content;
      grid-template: 0.15fr 1fr / 1fr 1fr 1fr;
      display: grid;
    }

    .content-title-left {
      border: 1px solid red;
    }

    .content-title-mid {
      border: 1px solid red;
    }

    .content-title-right {
      border: 1px solid red;
    }

    .content-main {
      border: 1px solid red;

      grid-column: 1 / -1;
    }

    .RM {
      grid-area: RM;
    }

    .nested {
      display: grid;
      grid-area: content;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    .nested p {
      padding: 20px;
    }

    .footer {
      grid-area: footer;
    }
  }
}
