.imagePlayer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    margin-top: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgba(207, 207, 207, 0.2); */

    border-radius:1px; /* prefix not needed anymore */
}



.outer-content{
  
     color: rgb(0, 0, 0)!important;
     display: flex;
flex-direction: column;
}

.outer-content-2{
  
     color: rgb(0, 0, 0)!important;
     display: flex;
flex-direction: column;
align-items: center;
}

.half-wrapper {
    width: 50%;
}


.bar {
    min-height: 7px;
    color: rgb(255, 0, 0)!important;
   background-color: rgb(182, 182, 182, 0.3);
   cursor: pointer
 
}   



.close {
    background-color: rgb(182, 182, 182, 0.3);
    width:10px;
    height:10px;
    float: right;
    white-space: nowrap;
    align-self: flex-end;
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;

}


.bar-2 {
    min-height: 7px;
    width: 40%;
    color: rgb(255, 0, 0)!important;
    display: flex;
    background-color: rgb(182, 182, 182, 0.3);
    justify-content: center;
    align-items: center;
    /* left: 75%; */
 
}   

.close-2 {
    background-color: rgb(182, 182, 182, 0.3);
    width:10px;
    height:10px;
    position: absolute;
    left: 70%;
    top: -10px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.row1 {

    display: flex;
    flex-direction: column;
    gap: 30px

}

.Gabriel {
    margin-top: auto;
    color: rgb(0, 0, 0)!important;
}

